.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #a0c4ff;
  color: #588157;
  background: #caffbf;
  box-shadow: 0 0 4px #a0c4ff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #a0c4ff;
  border-color: #caffbf;
  box-shadow: 0 0 8px #caffbf;
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
